




.select{
    
width:280px;
height:40px;
color:black;
box-sizing: border-box;
font-size: 19px;
padding: 5px;
font-family: calibri light;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 3px;
background-color: lightgray;
color: black;
padding-left: 29px; 
margin-left: -75%;
    margin-top: 2%;



}

.dropdown{
    
    width:320px;
    height:40px;
    color:black;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: lightgray;
    color: black;
    padding-left: 29px;
    margin-left: 25%;
    margin-top: -4px;
   
}


.locationSelector {
    position: relative;
    top: 6px;
    margin-left: 27.5%;
    margin-right: 20%;
    text-align: center;
    height:40px;
}

#query {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: lightgray;
    color: black;
    padding-left: 29px;
}
.search {
	
    position: absolute !important;
    left: 100px;
    margin: 2% 0px;
    bottom: 30px;
    top:30px;

}
#notebooks {
    position: absolute;
    left: 38%;
    width: 350px;
    border-radius: 5px;
    max-height: 450px;
}

ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
}

#notebooks span {
    display: block;
    position: absolute;
    background: #FFD32E;
    bottom: -35px;
    left: -1px;
    width: 360px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}


 
.header{
    width: 100%;
    height: 90px;
    background-color: #ce0505;
    position: relative;
}
.logo{
    color: #ce0505;
    text-decoration: none;
    font-size: 33px;
    font-weight: 600;
    display: inline-block;
}
.logo-span{
    background-color: white;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin: 20px;
    padding: 1px 10px 4px;
    position: absolute;
    display: inline-block;
}
.login-span{
    padding: 10px 0 10px 0;
}

.account{
    
    padding:4px 10px 4px 13px;;
    border:#ffffff solid 1px ;
    border-radius: 5px;
    position: absolute;
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
}
.login{
    margin-top: 26px;
    margin-right: 10px;
    display: inline-block;
    color: white;
    text-decoration:none;
}
.login:hover,.account:hover{
    color: #ffffff;
}
.logo:hover{
    color: #ce0505;
}

.google{
    margin: 20px 0;
    width: 396px;
    height: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 6px !important;
    opacity: 1;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.google-signup{
    margin: 20px 0;
    width: 230px;
    height: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 6px !important;
    opacity: 1;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.facebook{
    margin: 20px 0;
    width: 396px;
    height: 50px;
    background-color: white;
    border-radius: 6px !important;
    opacity: 1;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 0px;
}
.facebook-signup{
    margin: 20px 0;
    width: 230px;
    height: 50px;
    background-color: white;
    border-radius: 6px !important;
    opacity: 1;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}
.manulLogin{
    width: 396px;
    height: 50px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255) !important;

}

.login-divider{
    margin: 10px 10px 0 0;
    width: 100%;
    height: 0;
    border: solid 0.6px #c7c7c7;
}
.create{
       width: 450px;
    margin: 9px 15px 28px 13px;
    height: 50px;
    padding: 14px 30px 13px 22px;
}
.input-login{
    width: 376px;
    height: 50px;
    margin: 20px 15px 15px 5px;
    padding: 14px 30px 13px 22px;
    border-radius: 2px;
    border: solid 1px #cacfd8;
}
.login-btn{
    width: 376px;
    height: 50px;
    margin: 9px 15px 28px 5px;
    padding: 14px 30px 13px 22px;
    border-radius: 6px;
    border: solid 1px #cacfd8;
}
#GFG_Button{
    margin-left: 12px;
}
.OR{
    position: absolute;
    margin: -13px 0px 0px 42%;
    color: gray;
    background-color: white;
}

.h1{
    width: 726.4px;
    height: 0;
    margin: 10px 32px 0;
    border: solid 1px #dedfe5;
    
}
.fname{
    width: 69%;
    margin-bottom: 3%;
}
.lname{
    width: 69%;
    margin-bottom: 3%;
}
.input-acc{
    width: 69%;
    margin-bottom: 3%;
}
.metro{
    border:white;
    color: navy;
}
.btn{
    margin-left: 110px;
    width: 220px;
}




.fheading {
    height: 51px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-bottom: 10px;
    margin-left: 15px;
}

.filtercontainer {
    height: 680px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-left: 10px;
    margin-bottom: 20px;
}

.filter-options {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-left: 30px;
    margin-bottom: 20px;
    padding-bottom: 3%;
}
.collapse-head{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-top: 7px;
    display: inline-block;
}
.chervon{
    display:none;
    float:right,
    
}

.filter-heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-top: 7px;
    display: inline-block;
}
.filtercontent{
    margin-left: 40px;
}

.SelectLocation {
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 10px;
}



.Rectangle-2236 {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px #8c96ab;
    margin-top: 10px;
}
hr{
    border: solid 1px #dedfe5;
}
.subhead{
    height: 20px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 12px;

}

.Cuisine {
    height: 20px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 12px;
}
.cuisinecheckbox{
    height: 20px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 12px;

}
.checkbox {
    height: 20px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 35px;
    margin-left: 25%;
}

.head1{
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.toggle-span {
    float: right;
    padding: 5px 0px 5px 0px;
    display: none;
}

.head2 {
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.head3 {
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}

.padding-left {
    padding-left: 60px;
}

.custom-button {
    color: black;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 0 0 white;
}

.pagination{
    display: inline-block;
    margin-left: 275px;
    margin-top: -3px;
}
.records{
    font-size: 30px;
    font-family: sans-serif;
    color:red;
    text-align: center;
}
.pagination-item {
    color: gray;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: solid 1px gray;
    border-radius: 15px;
    margin: 2px;
}

.item {
    width: 100%;
    height: 280px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-bottom: 15px;
}


.img{
    width: 120px;
    height: 100px;

    margin: 20px;
    float: left;
    border-radius: 23px;
    background-color: #ea6060;
}
.page-item{
    color: gray;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: solid 1px gray;
    border-radius: 15px;
    margin: 2px;
}

@media only screen and (max-width: 600px) {
    .item {
        width: 100%;
        height: 300px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin-bottom: 15px;
    }
    .filter-options {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding-left: 30px;
        margin-bottom: 10px;
        min-width: 450px;
    }
   
    .filter-options {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding-left: 30px;
        margin-bottom: 10px;
        width: 455px;
        margin-left: 15px;
        min-height: 25px;
    }
    .filtercontainer {
        height: 680px;
        width:70%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .head1{
        height: 43px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        margin-left: 20px;
    }
    .head2 {
        font-family: Poppins;
        font-size: 10px;
        font-weight: 250;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.00;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        padding-left: 27px;
    }
    .head3{
        height: 23px;
        font-family: Poppins;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.00;
        letter-spacing: normal;
        text-align: left;
        color: #636f88;
        margin-left: 27px;
    }
    hr{
        border: solid 1px #dedfe5;
        padding:0px;
    }
    .Cuisine {
        height: 20px;
        font-family: Poppins;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.0;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        margin-top: 0px;
    }
    
    .checkbox {
        height: 20px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.0;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
        margin:10px;
    }
    .toggle-span {
        float: right;
        padding: 15px 0px 5px 0px;
        display: initial;
    }
    .page-item {
        display: inline-block;
        margin-top: 25px;
        width: 380px;
        margin-left: 10%;
    }
    .chervon{
        display:inline;
        float:right
    }
}